<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <add key="background" value="res/Background.png" />
    <add key="centerline" value="0.50" />
    <add key="padding" nested="true">
        <configuration>
            <add key="horizontal" value="0.05" />
            <add key="logo.bottom" value="0.05" />
            <add key="text.top" value="0.05" />
            <add key="vertical" value="0.10" />
        </configuration>
    </add>
    <add key="rendering" nested="true">
        <configuration>
            <add key="center" value="false" />
        </configuration>
    </add>
    <add key="text" nested="true">
        <configuration>
            <add key="all.caps" value="true" />
            <add key="font" value="Minecrafter_3" />
            <add key="size" value="128px" />
            <add key="include.episode.number" value="false" />
        </configuration>
    </add>
    <add key="video" nested="true">
        <configuration>
            <add key="output.directory" value="out/Misc" />
        </configuration>
    </add>
</configuration>