<?xml version="1.0" encoding="utf-8" ?>
<configuration parent="Common">
    <add key="centerline" value="0.45" />
    <add key="padding" nested="true">
        <configuration>
            <add key="logo.bottom" value="0.05" />
            <add key="text.top" value="0.10" />
            <add key="vertical" value="0.15" />
        </configuration>
    </add>
    <add key="logo" value="Counter Strike 2" />
    <add key="video" nested="true">
        <configuration>
            <add key="episode" value="1" />
            <add key="output.directory" value="out/Counter Strike 2" />
            <add key="title">Best Match Yet</add>
        </configuration>
    </add>
</configuration>