<?xml version="1.0" encoding="utf-8" ?>
<configuration parent="Common">
    <add key="centerline" value="0.45" />
    <add key="logo" value="Modern Warfare 2" />
    <add key="video" nested="true">
        <configuration>
            <add key="episode" value="2" />
            <add key="output.directory" value="out/Modern Warfare 2" />
            <add key="title">Kill Confirmed on
Shoothouse Sucks, But
Our Duo Was Awesome</add>
        </configuration>
    </add>
</configuration>